
body
{
    background-color: #F3F0E9;
    flex-direction: column;
    align-items: center;
}

.container
{
    position: relative;
    text-align: center;
    width: 100%;
}

.main-nav
{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav-brand
{
    color: white;
    font-size: 24px;
    align-self: center;
}

.nav-menu
{
    display: flex;
    gap: 1rem;
}

/*
button
{
    width: 10rem;
    height: 3rem;
    border-radius: 20%;
    border: 2px #CFB87C solid;
}
*/

.main-nav ul
{
    list-style: none;
}

.nav-menu a
{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s, color .5s, border .5s;
   
}

.nav-menu a:hover
{
    background-color: #CFB87C;
    color: black;
    border: 2px solid black;
}

.nav-toggle
{
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
}



html
{
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#box1
{
    background-color: #F3F0E9;
}

#box2
{
    background-color: black;
}

#box3
{
    background-color: #CFB87C;
}

#box4
{
    background-color: #565A5C;
}

#box5
{
    background-color: #A2A4A3;
}

#box6
{
    background-color: #0A3758;
}

#box7
{
    background-color: #8D7334;
}

#box8
{
    background-color: #096FAE;
}

#box9
{
    background-color: #EEF5F8;
}

p
{
    font-size: 16px;
    color: black;
}

.small-text
{
    font-size: 12px;
    color: black;
}

h3
{
    font-size: 20px;
    color: black;
}

h2
{
    font-size: 24px;
    color: black;
}

h1
{
    font-size: 28px;
    color: black;
}

nav a
{
    width: 100%;
    color: #CFB87C;
}

nav a:visited
{
    width: 100%;
    color: #CFB87C;
}


@media (max-width: 768px)
{
    .nav-brand
    {
        align-self: center;
        font-size: 36px;
    }

    .nav-menu
    {
        display: none;
    }

    .nav-menu.show
    {
        position: absolute;
        top: 75px;
        right:0px;
        left: 0px;
        background-color: #000;
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        
    }

    .nav-menu a 
    {
        margin: 20px;
        font-size: 20px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color .5s, color .5s, border .5s;
    }

    .nav-toggle
    {
        position: absolute;
        top: 25px;
        right:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 50px;
        padding: 6px;
        border: none;
        background-color: #CFB87C;
        border-radius: 5px;
        transition-duration: 0.8s;
    }

    span
    {
        margin: 3px;
        height: 5px;
        border-radius: 2px;
        background-color: white;
        display:block
    }
}
