body
{
    background-color: #F3F0E9;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

}

@media (width <= 450px)
{

        
}

@media (450px <= width <= 800px) 
{
        
}

@media (width >= 1200px)
{
        
}